@keyframes rotate {
  0% {
    transform: rotate(0deg);
    color: white
  }

  25% {
    transform: rotate(90deg);
    color: yellow;
  }

  50% {
    transform: rotate(180deg);
    color: black;
  }

  75% {
    transform: rotate(270deg);
    color: yellow;
  }

  100% {
    transform: rotate(360deg);
    color: white;
  }

}


.bgimg-1 {
  background-image: url("../assets/resume.jpg");
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-cog {
  animation: rotate 5s infinite ease;
  margin:0 5px 0 5px;
  font-size: 2.5rem;
}

.section_break {
  position: relative;
  text-align: center;
  text-align: center;
  padding: 25px 80px;
}

.section_break h2 {
  font-size: 3.5rem;
  margin: 0
}

h2 + p {
  font-size: 18px;
}

.intro {
  color: #777;
  background-color: white;
}

.portfolio {
  background-color: #282E34;
}

.contact {
  color: #777;
  background-color: white;
}

.footer {
  background-color: grey;
}

.footer .container {
  text-align: center;
  height: 4vh;
}

.footer .container .footer_text {
  font-size: 2rem;
  color: wheat;
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
} */
