<!-- <app-load-screen></app-load-screen> -->
<app-introsection></app-introsection>

<span *ngIf="showContent">

  <div class="intro section_break">
    <h2>Introduction</h2>
    <p style="color:white;">I am a junior fullstack developer who's specializes in using both the Mean and Mern stacks.</p>
  </div>

  <app-skills></app-skills>

  <div class="section_break portfolio ">
    <div>
      <h2 style-="color:white;">Portfolio</h2>
    </div>
  </div>

  <app-porfoliosection></app-porfoliosection>

  <div class="section_break contact">
    <div>
      <h2>Contact Me</h2>
    </div>
  </div>

  <app-contactsection></app-contactsection>

  <footer class="footer">
    <div class="container">
      <span class="footer_text">
        <span style='color: white;'>Angular</span>
<i class="fa fa-cog" aria-hidden="true"></i> Ryan
</span>
</div>
</footer>
</span>
