@import url('https://fonts.googleapis.com/css?family=Cutive|Fira+Sans');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');
/*
font-family: 'Cutive', serif;
font-family: 'Fira Sans', sans-serif;
*/

/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    display: none;
}

ul::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}


.skill_name_text {
  font-family: arial;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

a {
 text-decoration: none;
}

ul, ol , li {
  list-style: none;
}

/* .typist{
  font-size: 5rem;
} */

.caption {
  /* position: absolute;
  left: 0;
  top: 50%; */
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  border: none !important;
  color: #fff;
  padding: 18px;
  font-size: 2rem;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
}

.carousel {
  height: 100% !important;
}

.carousel-inner {
  	height: 100% !important;
}

.carousel-item {
	height: 100% !important;
}

.carousel-item img {
  /* position: relative;
  top: 50px; */
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 50px;
}


/* .carousel-control-next, .carousel-control-prev {
    bottom: 550px !important;
} */

.carousel .d-none {
  display: block !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    position: absolute !important;
    top: 80px !important;
}



.carousel-item img {
    position: relative;
    top: 200px;
}


.carousel-caption.d-none h3 {
  font-size: 2rem !important;
}
