<div class="bgimg-3" id="contact_page">
  <!-- <div class="caption">
  </div> -->
  <div class="contact_container">
    <div class="envelope-wrapper">
      <div class="envelope">
        <div class="envelope-top"></div>
        <div class="card">
          <form>
            <input class="name-input" placeholder="Your Email" name="author" type="text" value="" >
            <textarea class="comment" class="message-content" name="comment" placeholder="Your Message" aria-required="true"></textarea>
            <input class="button submit" type="submit">
          </form>
        </div>
        </div>
      <span class="email-button">email me </span>
    </div>
  </div>
</div>
