<a id="menu" class="header_menu">
  <i class="fa fa-bars" aria-hidden="true"></i>
</a>

<nav id="drawer" class="nav">
  <div id="particles-js">
    <ul class="nav__list">
      <li class="nav__item"><a href="#"><img class="logo" src="assets\githubLogo.png" alt="Github" /><span clas="logoText">Github</span></a></li>
      <li class="nav__item"><a href="#"><img class="logo" src="assets\linkdinLogo.png" alt="Linkdin" /><span clas="logoText">Linkdin</span></a></li>
      <li class="nav__item"><a id="contact" href="#contact_page"><img class="logo" src="assets\contactLogo.png" alt="Contact" /><span clas="logoText">Contact</span></a></li>
    </ul>
  </div>
</nav>
